<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>iGamble</title>
  <meta name="description" content="iGamble project">
  <meta name="author" content="loju">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
   <header>
      <h1>iGamble</h1>
      {% if user.is_authenticated %}
        Hi {{ user }} | <a href="{% url 'registration:logout' %}">logout</a>
      {% else %}
        <a href="{% url 'registration:login' %}">login</a> | <a href="{% url 'registration:register' %}">signup</a>
      {% endif %}
      <hr>
    </header>
   {% if user.is_authenticated %}
    <section>
        <h2>Wallets</h2>
        {% for wallet in user.wallet.all %} <button> {{ wallet }} <br> {{ wallet.created }}</button> {% endfor %}
    </section>
   <section>
       <h2>Deposit</h2>
       <form action="" method="post">
           {% csrf_token %}
           {{ bonus_form }}
           <input type="submit" value="Submit">
        </form>
       <h4>Deposit history</h4>
       <ul>
           {% for deposit in user.deposit.all %}
           <li>{{ deposit }}</li>
           {% endfor %}
       </ul>
   </section>
    {% endif %}
</body>
</html>