<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>iGamble</title>
  <meta name="description" content="iGamble project">
  <meta name="author" content="loju">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
   <header>
      <h1>iGamble</h1>
      {% if user.is_authenticated %}
        Hi {{ user }} | <a href="{% url 'registration:logout' %}">logout</a>
      {% else %}
        <a href="{% url 'registration:login' %}">login</a> | <a href="{% url 'registration:register' %}">signup</a>
      {% endif %}
      <hr>
    </header>
   {% if user.is_authenticated %}
    <section>
        <h2>Wallets</h2>
        {% if user.has_accept_for_transfer %}<h3><button>Transfer money</button></h3>{% endif %}
        {% if user.has_active_wallet %}
            <p>Active wallet: {{ user.get_active_wallet }} created at: {{ user.get_active_wallet.created }}</p>
        {% else %}
            <p>You have no active wallets, and money...</p>
        {% endif %}
        <p>{% for wallet in user.wallet.all %} <button> {{ wallet }} <br> {{ wallet.created }}</button> {% endfor %}</p>
    </section>
   <section>
        <h2>Bets</h2>
        <form action="" method="GET">
            <input type="submit" name="spin" value="Spin" {% if not user.has_active_wallet %}disabled="disabled"{% endif %}/>
        </form>
   </section>

   <section>
       <h2>Deposit</h2>
       <form action="" method="post">
           {% csrf_token %}
           {{ bonus_form }}
           <input type="submit" value="Submit">
        </form>
       <h4>Deposit history</h4>
       <ul>
           {% for deposit in user.deposit.all %}
           <li>{{ deposit }}</li>
           {% endfor %}
       </ul>
   </section>
    {% endif %}
</body>
</html>